   body {
    background-color:rgb(114, 110, 110);
  } 
  .calculator {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 4%;
    width: 350px;
    height: 420px;
    background-color: #d2c3c3;
    box-shadow: 0px 0px 0px 10px #161212;
    border: 5px solid black;
    border-radius: 10px;
  }
 .center{
  margin-left: 30%;
  width: 40%;
  height: 40%;
  text-align: center;
  margin-top: 6%;
  font-size: xx-large;
  font-weight: bolder;
  background-color: gray;
  box-shadow: 0px 0px 0px 10px #b97e7e;
 }
 .center1{
  margin-left: 42%;
  width: 15%;
  text-align: center;
  margin-top: 1%;
 }
 .center2{
  margin-bottom: 2%;
  margin-left: 42%;
  width: 15%;
  text-align: center;
  margin-top: 2%;
 }
 .stylecss{
  margin-left: 42%;
  margin-bottom: 3%;
 }
 
 .variable{
  margin-top:2%;
  text-align: center;
 }
  #display {
    width:320px;
    height: 40px;
    text-align: left;
    background-color: rgb(180, 202, 178);
    border: 3px solid rgb(13, 13, 13);
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #0d100a;
  }
  #display1 {
    width:320px;
    height: 40px;
    text-align: left;
    background-color: rgb(180, 202, 178);
    border: 3px solid rgb(13, 13, 13);
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #0d100a;
  }
  .btn_top{
    color: white;
    background-color: #be6161;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: none;
  }
  .btn_num {
    color: white;
    border: none;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  }
  .btn_func {
    color: white;
    border: none;
    background-color: rgb(192, 103, 59);
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  }
  .btn_op{
    border: none;
    color: rgb(241, 237, 237);
    background-color: #aa6832;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  } 